In [113]:
from sklearn import datasets
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [114]:
data=pd.read_csv("C:\\datascience and ml coding ninjas\\31. Project - Logistic Regression\\1. Logistic Regression - Titanic Dataset\\train.csv")

In [115]:
data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
663,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [28]:
x=data.iloc[:,:10]
y=data.iloc[:,-1]

In [30]:

x['Sex']=x['Sex'].replace(['male','female'],[0,1])
x.pop('Name')

0       Weisz, Mrs. Leopold (Mathilde Francoise Pede)
1                   Williams, Mr. Howard Hugh "Harry"
2      Morley, Mr. Henry Samuel ("Mr Henry Marshall")
3         Palsson, Mrs. Nils (Alma Cornelia Berglund)
4                              Sutehall, Mr. Henry Jr
                            ...
663                               Ilett, Miss. Bertha
664                          Morrow, Mr. Thomas Rowan
665                                     Bing, Mr. Lee
666                       Strandberg, Miss. Ida Sofia
667                    Murphy, Miss. Katherine "Kate"
Name: Name, Length: 668, dtype: object

In [32]:
x.pop('Ticket')

0               228414
1             A/5 2466
2               250655
3               349909
4      SOTON/OQ 392076
            ...
663         SO/C 14885
664             372622
665               1601
666               7553
667             367230
Name: Ticket, Length: 668, dtype: object

In [37]:
x['Embarked']=x['Embarked'].replace(['S','C','Q'],[0,1,2])

In [ ]:
x

In [39]:
y

0      1
1      0
2      0
3      0
4      0
      ..
663    1
664    0
665    1
666    0
667    1
Name: Survived, Length: 668, dtype: int64

In [40]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [41]:
xtrain.shape

(501, 8)

In [42]:
xtrain

     Pclass  Sex   Age  SibSp  Parch     Fare Cabin  Embarked
323       3    0   7.0      4      1  39.6875   NaN       0.0
281       3    1   NaN      1      0  16.1000   NaN       0.0
273       3    1  18.0      0      1   9.3500   NaN       0.0
104       3    1  28.0      0      0   7.8958   NaN       0.0
322       3    0  18.0      0      0   7.7750   NaN       0.0
..      ...  ...   ...    ...    ...      ...   ...       ...
629       3    0  18.0      0      0   8.0500   NaN       0.0
450       2    1  23.0      0      0  13.7917     D       1.0
473       3    0  25.0      0      0   7.0500   NaN       0.0
517       3    0  30.0      0      0   7.2500   NaN       0.0
621       3    0  35.0      0      0   7.8958   NaN       1.0

[501 rows x 8 columns]

In [107]:
clf=LogisticRegression(C=0.1,solver='liblinear',max_iter=400)

In [45]:
xtrain['Cabin'].unique()

array([nan, 'D20', 'B49', 'B80', 'B22', 'F33', 'E40', 'B57 B59 B63 B66',
       'A31', 'D33', 'D10 D12', 'E24', 'C110', 'C22 C26', 'A6', 'C92',
       'E12', 'C78', 'B30', 'B5', 'C124', 'C148', 'C93', 'D26', 'A10',
       'C23 C25 C27', 'E44', 'E77', 'B4', 'D56', 'B39', 'B86', 'C85',
       'B77', 'D35', 'F G73', 'E38', 'C86', 'C2', 'T', 'E101', 'E36',
       'B101', 'D47', 'C32', 'D', 'B78', 'C83', 'C111', 'B51 B53 B55',
       'C46', 'F2', 'D15', 'C125', 'C82', 'F G63', 'E33', 'C106', 'C52',
       'E17', 'B102', 'E68', 'F E69', 'C91', 'E121', 'C118', 'D46', 'D48',
       'C123', 'B96 B98', 'C45', 'D6', 'E46', 'C126', 'E8', 'B20', 'G6',
       'B37', 'C7', 'D11', 'A19', 'B3', 'B69', 'D28', 'D36', 'E67', 'C70',
       'D21', 'D19'], dtype=object)

In [61]:
xtrain1=xtrain

In [62]:
temp=xtrain['Cabin']

In [63]:
temp.unique()

array([nan, 1], dtype=object)

In [66]:
xtrain.shape

(501, 8)

In [69]:
xtest2=xtest.iloc[:,:]

In [72]:
temp=xtest['Cabin']

In [73]:
temp[temp.notnull()]=1

C:\Users\91701\AppData\Local\Temp\ipykernel_22564\2101590364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[temp.notnull()]=1

In [75]:
xtest2['Cabin']=temp

In [77]:
xtest=xtest2

In [78]:
xtrain

     Pclass  Sex   Age  SibSp  Parch     Fare Cabin  Embarked
323       3    0   7.0      4      1  39.6875   NaN       0.0
281       3    1   NaN      1      0  16.1000   NaN       0.0
273       3    1  18.0      0      1   9.3500   NaN       0.0
104       3    1  28.0      0      0   7.8958   NaN       0.0
322       3    0  18.0      0      0   7.7750   NaN       0.0
..      ...  ...   ...    ...    ...      ...   ...       ...
629       3    0  18.0      0      0   8.0500   NaN       0.0
450       2    1  23.0      0      0  13.7917     1       1.0
473       3    0  25.0      0      0   7.0500   NaN       0.0
517       3    0  30.0      0      0   7.2500   NaN       0.0
621       3    0  35.0      0      0   7.8958   NaN       1.0

[501 rows x 8 columns]

In [80]:
xtrain1=np.array(xtrain)
ytrain1=np.array(ytrain)

In [81]:
clf.fit(xtrain,ytrain)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [84]:
xtrain.fillna(-1)

     Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
323       3    0   7.0      4      1  39.6875     -1       0.0
281       3    1  -1.0      1      0  16.1000     -1       0.0
273       3    1  18.0      0      1   9.3500     -1       0.0
104       3    1  28.0      0      0   7.8958     -1       0.0
322       3    0  18.0      0      0   7.7750     -1       0.0
..      ...  ...   ...    ...    ...      ...    ...       ...
629       3    0  18.0      0      0   8.0500     -1       0.0
450       2    1  23.0      0      0  13.7917      1       1.0
473       3    0  25.0      0      0   7.0500     -1       0.0
517       3    0  30.0      0      0   7.2500     -1       0.0
621       3    0  35.0      0      0   7.8958     -1       1.0

[501 rows x 8 columns]

In [85]:
xtest.fillna(-1)

     Pclass  Sex   Age  SibSp  Parch      Fare  Cabin  Embarked
31        3    0  28.0      0      0    7.8958     -1       0.0
114       1    0  19.0      1      0   53.1000      1       0.0
165       1    1  24.0      0      0   49.5042      1       1.0
321       1    0  27.0      0      0   30.5000     -1       0.0
262       3    0  26.0      2      0    8.6625     -1       0.0
..      ...  ...   ...    ...    ...       ...    ...       ...
63        1    1  35.0      1      0   83.4750      1       0.0
484       2    0  19.0      0      0   13.0000     -1       0.0
498       3    0  19.0      0      0    6.7500     -1       2.0
106       3    0  22.0      0      0    8.0500     -1       0.0
622       1    1  39.0      1      1  110.8833      1       1.0

[167 rows x 8 columns]

In [94]:
xtrain=xtrain.fillna(0)

In [108]:
clf.fit(xtrain,ytrain)

LogisticRegression(C=0.1, max_iter=400, solver='liblinear')

In [109]:
clf.score(xtrain,ytrain)

0.8023952095808383

In [111]:
xtest=xtest.fillna(-1)

In [112]:
clf.score(xtest,ytest)

0.7664670658682635